<div class="logo-and-slogan-container">
    <img class="logo-and-slogan" src="css/images/icon.png">
    <h1 class="logo-and-slogan">Your Trip</h1>
</div>
<div class='content-container'>
    <div class="calculations-container">
        <h3>Miles: <%= mileage %></h3>
        <h3>Average Gas Price: $<%= avgGasPrice %>/gal</h3>
        <h3>Total Cost: $<%= totalCost %></h3>
        <h2>Cost Per Person: $<%= costPerPerson %></h2>
        <br/>
    </div>
    <input id="split-trip" class="split-button" type="submit" value="Let's Split!">
</div>
        